<div class="home-container">
    <div class="home-container-header">
        <img
            class="background-image"
            src="../../../assets/images/site-background.jpeg"
            width="3840"
            height="2160"
        />
        <img
            class="profile-pic"
            src="../../../assets/images/profilePicture.jpg"
        />
    </div>
    <div class="home-container-body">
        <div class="about-me-summary">
            <app-card
              [data]="aboutMeCard"
            ></app-card>
        </div>
        <div class="current-job-summary">
            <h1 class="current-job">Where I'm Working</h1>
            <app-card
              [data]="currentJobCard"
            ></app-card>
        </div>
    </div>
</div>
