.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px;
  border-bottom: 1px solid #adadad;
  box-shadow: #adadad 0 1px 5px 0;
}

.page-title {
  font-size: 25px;
  font-weight: bold;
}

.menu-button:hover {
  color: #ecb400;
}

.page-menu {
  //display: flex;
  /*a {
    padding: 0 15px;
    text-decoration: none;
    font-size: larger;
  }*/
}
