<div class="header-container">
  <div class="page-title">
    <span>Benjamin Mullins | Software Engineer</span>
  </div>
  <div class="page-menu">
    <!--TODO: Figure out why material not working (again as always)-->
    <!--<button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a [routerLink]="'/'">Home</a>
      </button>
      <button mat-menu-item>
        <a [routerLink]="'/about'">About</a>
      </button>
      <button mat-menu-item>
        <a [routerLink]="'/professional'">Professional</a>
      </button>
      <button mat-menu-item>
        <a [routerLink]="'/projects'">Projects</a>
      </button>
      <button mat-menu-item>
        <a [routerLink]="'/contact'">Contact</a>
      </button>
    </mat-menu>-->

    <a [routerLink]="'/'">Home</a>
    <a [routerLink]="'/about'">About</a>
    <a [routerLink]="'/professional'">Professional</a>
    <a [routerLink]="'/projects'">Projects</a>
    <a [routerLink]="'/contact'">Contact</a>
  </div>
</div>
