.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 25px;
  border-bottom: 1px solid #5ed9ff;
  box-shadow: #5ed9ff 0 1px 5px 0;
}

.page-title {
  font-size: x-large;
}

.page-menu {
  display: flex;
  a {
    padding: 0 15px;
    text-decoration: none;
  }
}
