.dialog-content {
  display: flex;
  justify-content: space-between;
}

.close-button:hover {
  color: #ecb400;
}

.menu {
  display: grid;
  font-size: 25px;

  span {
    display: flex;
    justify-content: end;
    padding-top: 25px;
  }

  span:hover {
    cursor: pointer;
    color: #ecb400;
  }
}
